-- CreateEnum
CREATE TYPE "InternalApiKeyScope" AS ENUM ('READ_ONLY', 'FULL_ACCESS');

-- CreateEnum
CREATE TYPE "TransactionType" AS ENUM ('INGRESO', 'EGRESO');

-- CreateEnum
CREATE TYPE "TransactionStatus" AS ENUM ('PENDIENTE', 'COMPLETADO', 'FALLIDO');

-- CreateEnum
CREATE TYPE "AodsSessionStatus" AS ENUM ('INIT', 'NOTEBOOK', 'GEMINI', 'LOOP', 'TEST', 'DEPLOY', 'DONE');

-- CreateEnum
CREATE TYPE "AodsDocType" AS ENUM ('NOTEBOOK_PROMPT', 'GEMINI_DOC', 'UPDATE_DOC');

-- CreateEnum
CREATE TYPE "AodsMessageRole" AS ENUM ('USER', 'SYSTEM', 'GEMINI', 'CHATGPT');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'user',
    "tier" TEXT NOT NULL DEFAULT 'free',
    "dashboardLayout" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AodsSession" (
    "id" TEXT NOT NULL,
    "ownerId" TEXT NOT NULL,
    "status" "AodsSessionStatus" NOT NULL DEFAULT 'INIT',
    "currentPhase" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AodsSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AodsDocument" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "type" "AodsDocType" NOT NULL,
    "content" JSONB NOT NULL,
    "version" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AodsDocument_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AodsMessage" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "role" "AodsMessageRole" NOT NULL,
    "content" TEXT NOT NULL,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AodsMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AodsState" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "currentStep" TEXT,
    "lastPrompt" TEXT,
    "lastResponse" TEXT,
    "ideationHistory" JSONB,
    "needsNotebook" BOOLEAN NOT NULL DEFAULT false,
    "needsUserAction" BOOLEAN NOT NULL DEFAULT false,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AodsState_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DomExpediente" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "formType" TEXT NOT NULL,
    "projectData" JSONB NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "mainApp" TEXT NOT NULL DEFAULT 'dom',
    "subApp" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DomExpediente_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Expediente" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "rut" TEXT NOT NULL,
    "nombres" TEXT NOT NULL,
    "apellidoPaterno" TEXT NOT NULL,
    "apellidoMaterno" TEXT NOT NULL,
    "nacionalidad" TEXT NOT NULL,
    "fechaNacimiento" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Expediente_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FinancialAccount" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "balance" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "currency" TEXT NOT NULL DEFAULT 'CLP',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "FinancialAccount_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Transaction" (
    "id" TEXT NOT NULL,
    "accountId" TEXT NOT NULL,
    "amount" DECIMAL(18,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'CLP',
    "type" "TransactionType" NOT NULL,
    "concept" TEXT NOT NULL,
    "status" "TransactionStatus" NOT NULL,
    "source" TEXT NOT NULL DEFAULT 'manual',
    "bankExternalId" TEXT,
    "bankPostedAt" TIMESTAMP(3),
    "checkoutId" TEXT,
    "dteFolio" TEXT,
    "dtePdfUrl" TEXT,
    "dteStatus" TEXT,
    "dteReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Transaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InternalApiKey" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "apiKey" TEXT NOT NULL,
    "scope" "InternalApiKeyScope" NOT NULL DEFAULT 'READ_ONLY',
    "targetAppOrEngine" TEXT NOT NULL,
    "ownerId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InternalApiKey_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Bot" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "modelId" TEXT NOT NULL,
    "avatarUrl" TEXT,
    "mainApp" TEXT NOT NULL DEFAULT 'misbots',
    "sourceApp" TEXT,
    "subApp" TEXT,
    "metadata" JSONB,
    "ownerId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Bot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Contract" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "mainApp" TEXT NOT NULL DEFAULT 'contratos',
    "subApp" TEXT,
    "metadata" JSONB,
    "ownerId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Contract_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Document" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "fileType" TEXT NOT NULL,
    "size" INTEGER NOT NULL,
    "bucketPath" TEXT NOT NULL,
    "mainApp" TEXT NOT NULL,
    "subApp" TEXT,
    "metadata" JSONB,
    "ownerId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Document_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "integration_callback_events" (
    "id" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "method" TEXT NOT NULL,
    "request_path" TEXT NOT NULL,
    "entity_id" TEXT,
    "query_json" JSONB,
    "headers_json" JSONB NOT NULL,
    "body_json" JSONB,
    "body_text" TEXT,
    "client_ip" TEXT,
    "processed" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "integration_callback_events_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "AodsSession_ownerId_idx" ON "AodsSession"("ownerId");

-- CreateIndex
CREATE INDEX "AodsDocument_sessionId_idx" ON "AodsDocument"("sessionId");

-- CreateIndex
CREATE INDEX "AodsMessage_sessionId_idx" ON "AodsMessage"("sessionId");

-- CreateIndex
CREATE UNIQUE INDEX "AodsState_sessionId_key" ON "AodsState"("sessionId");

-- CreateIndex
CREATE INDEX "DomExpediente_userId_idx" ON "DomExpediente"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Expediente_userId_key" ON "Expediente"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Expediente_rut_key" ON "Expediente"("rut");

-- CreateIndex
CREATE UNIQUE INDEX "FinancialAccount_userId_key" ON "FinancialAccount"("userId");

-- CreateIndex
CREATE INDEX "Transaction_accountId_idx" ON "Transaction"("accountId");

-- CreateIndex
CREATE INDEX "Transaction_accountId_bankExternalId_idx" ON "Transaction"("accountId", "bankExternalId");

-- CreateIndex
CREATE INDEX "Transaction_checkoutId_idx" ON "Transaction"("checkoutId");

-- CreateIndex
CREATE UNIQUE INDEX "InternalApiKey_apiKey_key" ON "InternalApiKey"("apiKey");

-- CreateIndex
CREATE INDEX "InternalApiKey_ownerId_idx" ON "InternalApiKey"("ownerId");

-- CreateIndex
CREATE INDEX "InternalApiKey_targetAppOrEngine_idx" ON "InternalApiKey"("targetAppOrEngine");

-- CreateIndex
CREATE INDEX "Bot_ownerId_idx" ON "Bot"("ownerId");

-- CreateIndex
CREATE INDEX "Bot_mainApp_idx" ON "Bot"("mainApp");

-- CreateIndex
CREATE INDEX "Contract_ownerId_idx" ON "Contract"("ownerId");

-- CreateIndex
CREATE INDEX "Contract_mainApp_idx" ON "Contract"("mainApp");

-- CreateIndex
CREATE INDEX "Document_ownerId_idx" ON "Document"("ownerId");

-- CreateIndex
CREATE INDEX "Document_mainApp_idx" ON "Document"("mainApp");

-- CreateIndex
CREATE INDEX "integration_callback_events_provider_created_at_idx" ON "integration_callback_events"("provider", "created_at");

-- CreateIndex
CREATE INDEX "integration_callback_events_entity_id_idx" ON "integration_callback_events"("entity_id");

-- CreateIndex
CREATE INDEX "integration_callback_events_processed_idx" ON "integration_callback_events"("processed");

-- AddForeignKey
ALTER TABLE "AodsSession" ADD CONSTRAINT "AodsSession_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AodsDocument" ADD CONSTRAINT "AodsDocument_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "AodsSession"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AodsMessage" ADD CONSTRAINT "AodsMessage_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "AodsSession"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AodsState" ADD CONSTRAINT "AodsState_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "AodsSession"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DomExpediente" ADD CONSTRAINT "DomExpediente_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Expediente" ADD CONSTRAINT "Expediente_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FinancialAccount" ADD CONSTRAINT "FinancialAccount_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Transaction" ADD CONSTRAINT "Transaction_accountId_fkey" FOREIGN KEY ("accountId") REFERENCES "FinancialAccount"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InternalApiKey" ADD CONSTRAINT "InternalApiKey_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bot" ADD CONSTRAINT "Bot_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Contract" ADD CONSTRAINT "Contract_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Document" ADD CONSTRAINT "Document_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

